<div class="container p-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4" mx-auto>
            <div class="card text-center">
                <div class="card-boby">
                    <h3>Bienvenido de nuevo, {{ user.fullname }}</h3>
                    <a href="/links/add" class="btn btn-primary m-4">Guarda tu ruta</a>
                </div>
            </div>
        </div>
    </div>
</div>